.page {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

.footer {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: .5rem 0;
}

.footer svg {
  margin: 0.5rem;
}

button {

  /*transition: border-color 0.25s;*/
}
/*button:hover {*/
/*  border-color: #646cff;*/
/*}*/
/*button:focus,*/
/*button:focus-visible {*/
/*  outline: 4px auto -webkit-focus-ring-color;*/
/*}*/

.app-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  border-radius: 8px;
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transform: translate(0);
  transform-style: preserve-3d;
}

.app-button span {
  position: relative;
}

.app-button::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  border-radius: inherit;
  background: #11998e;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app-button--listening::before {
  background: #FF416C;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.app-button::after {
  content:"";
  position: absolute;
  inset: -5px;
  transform: translate3d(0, 6px,-1px);
  background: conic-gradient(from 90deg at 40% -25%, #a8ff78, #78ffd6);
  filter: blur(10px);
  border-radius: inherit;
  animation: pulsate 2s ease-out infinite;
}

.app-button--listening::after {
  background: conic-gradient(from 90deg at 40% -25%, #ffd700, #f79d03, #ee6907, #e6390a, #de0d0d, #d61039, #cf1261, #c71585, #cf1261, #d61039, #de0d0d, #ee6907, #f79d03, #ffd700, #ffd700, #ffd700);
  animation: pulsate 2s ease-out infinite;
}

.app-button:disabled::before,
.app-button:disabled::after {
  background: #ccc;
}

.app-button:disabled svg {
  stroke: #999;
}

@keyframes pulsate {
  0%   { filter: blur(15px); }
  50%  { filter: blur(5px); }
  100% { filter: blur(15px); }
}

.app-button__icon-container {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: 0.5rem;
}

.app-button__icon {
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s linear;
}

.app-button__icon--static {
  opacity: 1;
  visibility: visible;
}

.app-button__icon--active {
  opacity: 0;
  visibility: hidden;
}

.app-button--listening .app-button__icon--static {
  opacity: 0;
  visibility: hidden;
}

.app-button--listening .app-button__icon--active {
  opacity: 1;
  visibility: visible;
}

.image-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 1.5rem 0 .5rem;
  gap: 0.5rem;
  padding: 0 0.5rem;
}

.image-container img {
  max-width: 100%;
  /*max-height: calc(100vh - 120px);*/
}

.image-container p {
  font-size: .85rem;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
